:root {
  --main-color: red;
  --white-color: #fff;
  --gray-color: #868e96;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
  background: url("/img/locomotiv.webp") no-repeat center center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  
}

.container::before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.3);
}

.center-container {
  margin-top: auto;
  color: white;
  width: 86.2rem;
  z-index: 1;
  position: relative;
  padding: 0 5rem 0 5rem;

}

.credits {
  z-index: 1;
  margin-top: 2rem;
  font-size: 1.3rem;
}

a {
  color: #d1d1d1;
  text-decoration: none;
}

a:visited {
  color: #d1d1d1;
}

a:hover {
  color: #fff;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  color: #868e96;

  --ionicon-stroke-width: 6rem;
  cursor: pointer;
  padding: 1.2rem 1.2rem 1rem 2rem;
  transition: all 0.3s;
}

.icon:hover {
  color: #722016;
}

/* cand facem hover peste icon element va activa shadow la .text element */

.icon:hover + .text {
  box-shadow: 0 0 0 3px rgba(190, 52, 37, 0.7);
}

.logo {
  z-index: 1;
  font-size: 1.3rem;
}

.container .center-container .text {
  width: 100%;
  display: inline-block;
  height: 4.8rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #212529;
  padding-left: 6.2rem;
  border: none;
  outline: none;
  transition: all 0.3s;

  
  /* align-self: center; */
}

.container .center-container .text:hover,
.container .center-container .text:valid,
.container .center-container .text:focus {
  background-color: #fff;
  box-shadow: 0 0 0 3px rgba(190, 52, 37, 0.7);
}

footer {
  margin-top: auto;
  /* margin-top: 0.5rem; */
  font-size: 1.6rem;
  color: #fff;
  z-index: 1;
  /* margin-top: auto; */
}

footer span {
  font-size: 2rem;
  
  display: inline-block;
  margin-bottom: 1rem;
}

@media (max-width: 1150px) {
  .center-container {
    max-width: 100%;
  }
}
